body {
	--bg: #ffffff;
	--bg-blr: 0px;
	--gap: 0px;
	--color: #ffffff;
	--margin: 10px;
	--padding: 10px;
	--b-r: 5px;
	--w: auto;
	--h: auto;
	--br-c: #000000;
	--br-w: 1px;
	--br-s: solid;
	--fs: medium;
	--g-t-c: 1fr 1fr;
	--g-r-c: 1fr 1fr;
	--justify: center;
	--align: center;
}

.tr-x {
	transform: translateX(var(--tr-x));
}

.tr-y {
	transform: translateY(var(--tr-y));
}

.tr-z {
	transform: translateZ(var(--tr-z));
}

.fs {
	font-size: var(--fs);
}

.pa {
	position: absolute;
	top: var(--pa-t);
	left: var(--pa-l);
	right: var(--pa-r);
	bottom: var(--pa-b);
}

.pr {
	position: relative;
}

.br {
	border-color: var(--br-c);
	border-width: var(--br-w);
	border-style: var(--br-s);
}

.flex {
	display: flex;
}

.fx-col {
	flex-direction: column;
}

.justify {
	justify-content: var(--justify);
}

.align {
	align-items: var(--align);
}

.b-r {
	border-radius: var(--b-r);
}

.margin {
	margin: var(--margin);
}

.padding {
	padding: var(--padding);
}

.gap {
	gap: var(--gap);
}

.gap-col {
	column-gap: var(--gap);
}

.gap-row {
	row-gap: var(--gap);
}

.bg {
	background-color: var(--bg);
	backdrop-filter: blur(var(--bg-blr));
}

.font-color {
	color: var(--color);
}

.defaults {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

.w {
	width: var(--w);
}

.h {
	height: var(--h);
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.w100vw {
	width: 100vw;
}

.h100vh {
	height: 100vh;
}

.grid {
	display: grid;
}

.grid-col {
	grid-template-columns: var(--g-t-c);
}

.grid-row {
	grid-template-rows: var(--g-t-r);
}
